In [24]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

data = pd.read_csv('movies_metadata.csv', low_memory=False)
data.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [25]:
data.info()
# null 이 아닌값들이 몇개 있는지 나온다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [26]:
print(data.isnull().sum())
# 각 열마다 null 값이 몇개씩 있는지 나온다.

# 결측값이 상당히 많다.
# 홈페이지 이런거는 별로 관련 없다 생각하면 과감하게 빼버려도 된다.
# id 같은 것도 마찬가지
# original language 같은 경우 결측값이 11개
# 이 11개의 결측값을 어떻게 채워넣을 것인가 고민해야 함
# overview 줄거리가 954개의 결측값이 존재함. 어떻게 처리, 대체할 것이냐
# overview 는 결측치 대체가 불가능하다. 그래서 overview가 없는 것들은
# 그냥 빼야 한다.

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [27]:
data[ data['overview'].isnull() ]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
32,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,...,1996-09-18,0.0,50.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,False,6.8,4.0
300,False,NaN,22000000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,161495,tt0114296,sv,Roommates,NaN,...,1995-03-01,12400000.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Roommates,False,6.4,7.0
634,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,287305,tt0117312,de,Peanuts – Die Bank zahlt alles,NaN,...,1996-03-21,0.0,NaN,[],Released,NaN,Peanuts – Die Bank zahlt alles,False,4.0,1.0
635,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,339428,tt0116485,de,Happy Weekend,NaN,...,1996-03-14,65335.0,NaN,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Happy Weekend,False,0.0,0.0
641,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,10801,tt0117788,de,Das Superweib,NaN,...,1996-03-06,0.0,86.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,The Superwife,False,5.3,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45342,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,199887,tt1771636,en,Over/Under,NaN,...,2013-01-04,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Over/Under,False,4.0,2.0
45377,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}]",NaN,317389,tt0070695,es,Simbad e il califfo di Bagdad,NaN,...,1973-07-22,0.0,NaN,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Simbad e il califfo di Bagdad,False,0.0,0.0
45398,False,NaN,1254040,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",http://lmtr.fi/,468707,tt5742932,fi,Lauri Mäntyvaaran tuuheet ripset,NaN,...,2017-07-28,0.0,90.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,Thick Lashes of Lauri Mäntyvaara,False,8.0,1.0
45399,False,NaN,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,280422,tt3805180,ru,Все и сразу,NaN,...,2014-06-05,3.0,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,All at Once,False,6.0,4.0
45410,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,449131,tt0321264,ru,Aprel,NaN,...,NaN,0.0,NaN,[],Released,NaN,Aprel,False,6.0,1.0

In [28]:
data[ data['overview'].isnull() ].tail(3)
# 마지막 영화보면 줄거리가 NaN 이 있음
# 이런 것들을 어떻게 찾을까
# boolean 참조를 사용할 수 있음

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45398,False,NaN,1254040,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",http://lmtr.fi/,468707,tt5742932,fi,Lauri Mäntyvaaran tuuheet ripset,NaN,...,2017-07-28,0.0,90.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,Thick Lashes of Lauri Mäntyvaara,False,8.0,1.0
45399,False,NaN,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,280422,tt3805180,ru,Все и сразу,NaN,...,2014-06-05,3.0,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,All at Once,False,6.0,4.0
45410,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,449131,tt0321264,ru,Aprel,NaN,...,NaN,0.0,NaN,[],Released,NaN,Aprel,False,6.0,1.0

In [29]:
# overview 열에 존재하는 모든 결측값을 전부 카운트하여 출력
print('overview 열의 결측값의 수:',data['overview'].isnull().sum())

overview 열의 결측값의 수: 954

In [30]:
# 이런 null 인 것들을 모두 제거해야 한다.
# dropna 사용해 null 제거
data = data.dropna(subset = ['overview'])
data.tail(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [31]:
print('overview 열의 결측값의 수:',data['overview'].isnull().sum())

overview 열의 결측값의 수: 0

In [32]:
# 상위 2만개의 샘플만 data에 저장
data = data.head(20000)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 0 to 20135
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  20000 non-null  object
 1   belongs_to_collection  2407 non-null   object
 2   budget                 20000 non-null  object
 3   genres                 20000 non-null  object
 4   homepage               3084 non-null   object
 5   id                     20000 non-null  object
 6   imdb_id                19994 non-null  object
 7   original_language      19999 non-null  object
 8   original_title         20000 non-null  object
 9   overview               20000 non-null  object
 10  popularity             19998 non-null  object
 11  poster_path            19915 non-null  object
 12  production_companies   19999 non-null  object
 13  production_countries   19999 non-null  object
 14  release_date           19984 non-null  object
 15  revenue                19998 non-null  float64
 16  runtime                19998 non-null  float64
 17  spoken_languages       19998 non-null  object
 18  status                 19984 non-null  object
 19  tagline                11766 non-null  object
 20  title                  19998 non-null  object
 21  video                  19998 non-null  object
 22  vote_average           19998 non-null  float64
 23  vote_count             19998 non-null  float64
dtypes: float64(4), object(20)
memory usage: 3.8+ MB

In [35]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data['overview'])
print('TF-IDF 행렬의 크기(shape) :',tfidf_matrix.shape)

TF-IDF 행렬의 크기(shape) : (20000, 47661)

In [17]:
# 47661 차원에 영화벡터 20000 개.


# 차원이 너무 많다. 만약 한두개의 영화에만 나오는 단어고
# 나머지에는 한번도 안나오는 단어면
# 그것까지 전부 메모리에 올리는건 낭비일 수 있다.

# 일단 이 상태로 코사인 유사도 구한다면
# 20000 * 19999/2
# = 199990000 번 코사인 유사도를 구해야 함. 사이즈가 너무 크다.

# * 데이터가 1, 2, 3, 4 있을때
# 1을 기준으로 삼으면 2, 3, 4 를 연산해야 하니까
# n - 1 해서 19999 나옴
# 1, 2 계산이랑 2, 1 계산이랑 똑같으니까
# 2로 나눔

In [36]:
tfidf_matrix[0]

# 첫 번째 문서(=0번째 행) 의 줄거리를 뽑았는데
# 47661개의 차원이 있음

# 차원은 47661개가 있는데 0이 아닌값은 25개 있음
# 대부분은 값이 0이라는 뜻.
# 그래서 이걸 어떻게 사이즈를 줄일 것인가

# 단 한번밖에 언급되지 않은 데이터라면 코사인 유사도 계산에서 빼는게 좋다.

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 25 stored elements and shape (1, 47661)>

In [40]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
print('코사인 유사도 연산 결과 :',cosine_sim.shape)

#  20,000행 20,000열의 행렬

코사인 유사도 연산 결과 : (20000, 20000)

In [41]:
cosine_sim[0]

# 첫번째는 1.
# 자기 자신과의 유사도니까 1이다
# 두번째와는 0.01577 나옴

array([1.        , 0.01577495, 0.        , ..., 0.        , 0.00826968,
       0.01721328])

In [44]:
title_to_index = dict(zip(data['title'], data.index))

# 영화 제목 Father of the Bride Part II의 인덱스를 리턴
idx = title_to_index['Father of the Bride Part II']
print(idx)

# zip(data['title'], data.index)
# : 두 개의 시퀀스(title과 index)를 **쌍(pair)**으로 묶어줍니다.

# 예시:
# ["A", "B", "C"], [0, 1, 2] → ("A", 0), ("B", 1), ("C", 2)

# dict(...)
# zip으로 묶은 쌍(pair)을 **딕셔너리(dictionary)**로 만듭니다.

# 키(key): 'title'
# 값(value): 인덱스

4

In [45]:
dict(zip(data['title'], data.index))

{'Toy Story': 0,
 'Jumanji': 1,
 'Grumpier Old Men': 2,
 'Waiting to Exhale': 3,
 'Father of the Bride Part II': 4,
 'Heat': 14684,
 'Sabrina': 888,
 'Tom and Huck': 7,
 'Sudden Death': 8,
 'GoldenEye': 9,
 'The American President': 10,
 'Dracula: Dead and Loving It': 11,
 'Balto': 12,
 'Nixon': 13,
 'Cutthroat Island': 14,
 'Casino': 15,
 'Sense and Sensibility': 16,
 'Four Rooms': 17,
 'Ace Ventura: When Nature Calls': 18,
 'Money Train': 19,
 'Get Shorty': 20,
 'Copycat': 21,
 'Assassins': 22,
 'Powder': 23,
 'Leaving Las Vegas': 24,
 'Othello': 15347,
 'Now and Then': 26,
 'Persuasion': 14838,
 'The City of Lost Children': 28,
 'Shanghai Triad': 29,
 'Dangerous Minds': 30,
 'Twelve Monkeys': 31,
 'Babe': 33,
 'Carrington': 34,
 'Dead Man Walking': 35,
 'Across the Sea of Time': 36,
 'It Takes Two': 37,
 'Clueless': 38,
 'Cry, the Beloved Country': 39,
 'Richard III': 17719,
 'Dead Presidents': 41,
 'Restoration': 42,
 'Mortal Kombat': 43,
 'To Die For': 44,
 'How To Make An American Quilt': 45,
 'Se7en': 46,
 'Pocahontas': 47,
 'When Night Is Falling': 48,
 'The Usual Suspects': 49,
 'Guardian Angel': 50,
 'Mighty Aphrodite': 51,
 'Lamerica': 52,
 'The Big Green': 53,
 'Georgia': 54,
 'Kids of the Round Table': 55,
 'Home for the Holidays': 56,
 'The Postman': 1644,
 'The Confessional': 58,
 'The Indian in the Cupboard': 59,
 'Eye for an Eye': 60,
 "Mr. Holland's Opus": 61,
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood": 62,
 'Two If by Sea': 63,
 'Bio-Dome': 64,
 'Lawnmower Man 2: Beyond Cyberspace': 65,
 'Two Bits': 66,
 'French Twist': 67,
 'Friday': 68,
 'From Dusk Till Dawn': 69,
 'Fair Game': 16077,
 'Kicking and Screaming': 71,
 'Les Miserables': 72,
 'Bed of Roses': 19880,
 'Big Bully': 74,
 'Screamers': 75,
 'Nico Icon': 76,
 'The Crossing Guard': 77,
 'The Juror': 78,
 'The White Balloon': 79,
 "Things to Do in Denver When You're Dead": 80,
 "Antonia's Line": 81,
 'Once Upon a Time... When We Were Colored': 82,
 'Last Summer in the Hamptons': 83,
 'Angels and Insects': 84,
 'White Squall': 85,
 'Dunston Checks In': 86,
 'Black Sheep': 16328,
 'Nick of Time': 88,
 'The Journey of August King': 89,
 'Mary Reilly': 90,
 'Vampire in Brooklyn': 91,
 'Beautiful Girls': 92,
 'Broken Arrow': 11937,
 "A Midwinter's Tale": 94,
 'La Haine': 95,
 'Shopping': 96,
 'Heidi Fleiss: Hollywood Madam': 97,
 'City Hall': 98,
 'Bottle Rocket': 99,
 'Mr. Wrong': 100,
 'Unforgettable': 101,
 'Happy Gilmore': 102,
 'The Bridges of Madison County': 103,
 'Nobody Loves Me': 104,
 'Muppet Treasure Island': 105,
 'Catwalk': 106,
 'Headless Body in Topless Bar': 107,
 'Braveheart': 108,
 'Taxi Driver': 109,
 'Rumble in the Bronx': 110,
 'Before and After': 111,
 "Margaret's Museum": 112,
 'Happiness Is in the Field': 113,
 'Anne Frank Remembered': 114,
 "The Young Poisoner's Handbook": 115,
 'If Lucy Fell': 116,
 'Steal Big Steal Little': 117,
 'Race the Sun': 118,
 'The Boys of St. Vincent': 119,
 'Boomerang': 120,
 'Chungking Express': 121,
 'The Star Maker': 122,
 'Flirting with Disaster': 123,
 'The Neverending Story III: Escape from Fantasia': 124,
 'The Silences of the Palace': 125,
 "Jupiter's Wife": 126,
 'Pie in the Sky': 127,
 'Angela': 128,
 'Frankie Starlight': 129,
 'Jade': 130,
 'Nueba Yol': 131,
 'Sonic Outlaws': 132,
 'Down Periscope': 133,
 'From the Journals of Jean Seberg': 134,
 'Man of the Year': 11330,
 'The Neon Bible': 136,
 'Target': 8878,
 'Up Close & Personal': 138,
 'The Birdcage': 139,
 'Virgin Mary': 140,
 'The Brothers McMullen': 141,
 'Bad Boys': 9364,
 'The Amazing Panda Adventure': 143,
 'The Basketball Diaries': 144,
 'An Awfully Big Adventure': 145,
 'Amateur': 146,
 'Apollo 13': 147,
 'Rob Roy': 148,
 'The Addiction': 149,
 'Batman Forever': 150,
 'Belle de Jour': 151,
 'Beyond Rangoon': 152,
 'Blue in the Face': 153,
 'Canadian Bacon': 154,
 'Casper': 155,
 'Clockers': 156,
 'Congo': 157,
 'Crimson Tide': 158,
 'Crumb': 159,
 'Desperado': 160,
 'Devil in a Blue Dress': 161,
 'Die Hard: With a Vengeance': 162,
 'The Doom Generation': 163,
 'Feast of July': 164,
 'First Knight': 165,
 'Free Willy 2 - The Adventure Home': 166,
 'Hackers': 167,
 'Jeffrey': 168,
 'Johnny Mnemonic': 169,
 'Judge Dredd': 170,
 'Jury Duty': 171,
 'Kids': 172,
 'Living in Oblivion': 173,
 'Lord of Illusions': 174,
 'Love & Human Remains': 175,
 'Mad Love': 11620,
 'Mallrats': 177,
 'Mighty Morphin Power Rangers: The Movie': 178,
 'Moonlight and Valentino': 179,
 'Mute Witness': 180,
 'Nadja': 181,
 'The Net': 182,
 'Nine Months': 183,
 'Party Girl': 15941,
 'The Prophecy': 185,
 'Reckless': 14294,
 'Safe': 18906,
 'The Scarlet Letter': 18903,
 'The Show': 189,
 'Showgirls': 190,
 'Smoke': 191,
 'Something to Talk About': 192,
 'Species': 193,
 'The Stars Fell on Henrietta': 194,
 'Strange Days': 195,
 'The Umbrellas of Cherbourg': 196,
 'The Tie That Binds': 197,
 'Three Wishes': 198,
 'Total Eclipse': 199,
 'To Wong Foo, Thanks for Everything! Julie Newmar': 200,
 'Under Siege 2: Dark Territory': 201,
 'Unstrung Heroes': 202,
 'Unzipped': 203,
 'A Walk in the Clouds': 204,
 'Waterworld': 205,
 "White Man's Burden": 206,
 'Wild Bill': 19205,
 'The Browning Version': 10251,
 'Bushwhacked': 209,
 'Burnt by the Sun': 210,
 'Before the Rain': 211,
 'Before Sunrise': 212,
 'Billy Madison': 213,
 'The Babysitter': 214,
 'Boys on the Side': 215,
 'The Cure': 18680,
 'Castle Freak': 217,
 'Circle of Friends': 218,
 'Clerks': 219,
 'Don Juan DeMarco': 220,
 'Disclosure': 221,
 'Dream Man': 222,
 'Drop Zone': 223,
 'Destiny Turns on the Radio': 224,
 'Death and the Maiden': 225,
 'Dolores Claiborne': 226,
 'Dumb and Dumber': 227,
 'Eat Drink Man Woman': 228,
 'Exotica': 229,
 'Exit to Eden': 230,
 'Ed Wood': 231,
 'French Kiss': 232,
 'Forget Paris': 233,
 'Far from Home: The Adventures of Yellow Dog': 234,
 'A Goofy Movie': 235,
 'Hideaway': 236,
 'Fluke': 237,
 'Farinelli': 238,
 'Gordy': 239,
 'Gumby: The Movie': 240,
 'The Glass Shield': 241,
 'Hoop Dreams': 242,
 'Heavenly Creatures': 243,
 'Houseguest': 244,
 'Immortal Beloved': 245,
 'Heavyweights': 246,
 'The Hunted': 6081,
 'I.Q.': 248,
 'Interview with the Vampire': 249,
 'Jefferson in Paris': 250,
 'The Jerky Boys': 251,
 'Junior': 252,
 'Just Cause': 253,
 "A Kid in King Arthur's Court": 254,
 'Kiss of Death': 10602,
 'Star Wars': 256,
 'Little Women': 6902,
 'A Little Princess': 258,
 'Ladybird Ladybird': 259,
 "L'Enfer": 260,
 'Like Water for Chocolate': 261,
 'Legends of the Fall': 262,
 'Major Payne': 263,
 'Little Odessa': 264,
 'Mi Vida Loca': 265,
 'Love Affair': 6688,
 'Losing Isaiah': 267,
 'The Madness of King George': 268,
 "Mary Shelley's Frankenstein": 269,
 'Man of the House': 9731,
 'Mixed Nuts': 271,
 'Milk Money': 272,
 'Miracle on 34th Street': 2285,
 'Miami Rhapsody': 274,
 'My Family': 275,
 'Murder in the First': 276,
 "Nobody's Fool": 8889,
 'Nell': 278,
 'New Jersey Drive': 279,
 'New York Cop': 280,
 'Beyond Bedlam': 281,
 'Nemesis 2 - Nebula': 282,
 'Nina Takes a Lover': 283,
 'Natural Born Killers': 284,
 'Only You': 285,
 'Once Were Warriors': 286,
 'Poison Ivy II: Lily': 287,
 'Outbreak': 288,
 'Leon: The Professional': 289,
 'The Perez Family': 290,
 "A Pyromaniac's Love Story": 291,
 'Pulp Fiction': 292,
 'Panther': 293,
 'Pushing Hands': 294,
 'Priest': 17108,
 'Quiz Show': 296,
 'Picture Bride': 297,
 'Queen Margot': 298,
 'The Quick and the Dead': 13489,
 'Prêt-à-Porter': 301,
 'Three Colors: Red': 302,
 'Three Colors: Blue': 303,
 'Three Colors: White': 304,
 'Red Firecracker, Green Firecracker': 305,
 'Rent-a-Kid': 306,
 'Relative Fear': 307,
 'Stuart Saves His Family': 308,
 'The Swan Princess': 309,
 'The Secret of Roan Inish': 310,
 'The Specialist': 311,
 'Stargate': 312,
 'The Santa Clause': 313,
 'The Shawshank Redemption': 314,
 'Shallow Grave': 315,
 'Suture': 316,
 'Strawberry and Chocolate': 317,
 'Swimming with Sharks': 318,
 'The Sum of Us': 319,
 'Senior Trip': 320,
 'To Live': 321,
 'Tank Girl': 322,
 'Tales from the Crypt: Demon Knight': 323,
 'Star Trek: Generations': 324,
 'Tales from the Hood': 325,
 'Tom & Viv': 326,
 'Village of the Damned': 2440,
 'Tommy Boy': 328,
 'Vanya on 42nd Street': 329,
 'The Underneath': 330,
 'The Walking Dead': 7659,
 "What's Eating Gilbert Grape": 332,
 'Virtuosity': 333,
 'While You Were Sleeping': 334,
 'The War': 19158,
 'Double Happiness': 336,
 "Muriel's Wedding": 337,
 'The Baby-Sitters Club': 338,
 'Ace Ventura: Pet Detective': 339,
 'The Adventures of Priscilla, Queen of the Desert': 340,
 'Backbeat': 341,
 'Bitter Moon': 342,
 'Bullets Over Broadway': 343,
 'Clear and Present Danger': 344,
 'The Client': 345,
 'Corrina, Corrina': 346,
 'Crooklyn': 347,
 'The Crow': 348,
 'Cobb': 349,
 'The Flintstones': 350,
 'Forrest Gump': 351,
 'Four Weddings and a Funeral': 352,
 'Higher Learning': 353,
 'I Like It Like That': 354,
 'I Love Trouble': 355,
 'It Could Happen to You': 356,
 'The Jungle Book': 1969,
 'The Wonderful, Horrible Life of Leni Riefenstahl': 358,
 'The Lion King': 359,
 'Little Buddha': 360,
 'New Nightmare': 361,
 'The Mask': 362,
 'Maverick': 363,
 'Mrs. Parker and the Vicious Circle': 364,
 'The Naked Gun 33⅓: The Final Insult': 365,
 'The Paper': 366,
 'Reality Bites': 367,
 'Red Rock West': 368,
 'Ri¢hie Ri¢h': 369,
 'Safe Passage': 370,
 'The River Wild': 371,
 'Speed': 372,
 'Speechless': 373,
 'Timecop': 374,
 'True Lies': 375,
 'When a Man Loves a Woman': 376,
 'Wolf': 11656,
 'Wyatt Earp': 378,
 'Bad Company': 5292,
 'A Man of No Importance': 380,
 'S.F.W.': 381,
 'A Low Down Dirty Shame': 382,
 'Boys Life: Three Stories of Love, Lust, and Liberation': 383,
 'Colonel Chabert': 384,
 'Faster, Pussycat! Kill! Kill!': 385,
 "Jason's Lyric": 386,
 'The Secret Adventures of Tom Thumb': 387,
 'Street Fighter': 388,
 'Coldblooded': 389,
 'Desert Winds': 390,
 'Fall Time': 391,
 'The Fear': 392,
 'Frank and Ollie': 393,
 'Girl in the Cadillac': 394,
 'Homage': 395,
 'Mirage': 10938,
 'Open Season': 11311,
 'Dos Crímenes': 398,
 'Brother Minister: The Assassination of Malcolm X': 399,
 'Highlander: The Final Dimension': 400,
 'Federal Hill': 401,
 'In the Mouth of Madness': 402,
 '8 Seconds': 403,
 'Above the Rim': 404,
 'Addams Family Values': 405,
 'Martin Lawrence: You So Crazy': 406,
 'The Age of Innocence': 19762,
 'Airheads': 408,
 'The Air Up There': 409,
 'Another Stakeout': 410,
 'Bad Girls': 411,
 'Barcelona': 412,
 'Being Human': 413,
 'The Beverly Hillbillies': 414,
 'Beverly Hills Cop III': 415,
 'Black Beauty': 8202,
 'Blink': 417,
 'Blown Away': 18154,
 'Blue Chips': 419,
 'Blue Sky': 420,
 'Body Snatchers': 421,
 'Boxing Helena': 422,
 'A Bronx Tale': 423,
 'Cabin Boy': 424,
 'Calendar Girl': 425,
 "Carlito's Way": 426,
 "City Slickers II: The Legend of Curly's Gold": 427,
 'Clean Slate': 428,
 'Cliffhanger': 429,
 'Coneheads': 430,
 'Color of Night': 431,
 'Cops & Robbersons': 432,
 'The Cowboy Way': 433,
 'Dangerous Game': 434,
 'Dave': 435,
 'Dazed and Confused': 436,
 'Demolition Man': 437,
 'The Endless Summer 2': 438,
 'Even Cowgirls Get the Blues': 439,
 'Fatal Instinct': 440,
 'Farewell My Concubine': 441,
 'The Favor': 442,
 'Fearless': 11051,
 'Fear of a Black Hat': 444,
 'With Honors': 445,
 'Flesh and Bone': 446,
 "Widows' Peak": 447,
 'For Love or Money': 448,
 'The Firm': 19164,
 'Free Willy': 450,
 'Fresh': 451,
 'The Fugitive': 12175,
 'Geronimo: An American Legend': 453,
 'The Getaway': 7577,
 'Getting Even with Dad': 455,
 'Go Fish': 456,
 'A Good Man in Africa': 457,
 'Guilty as Sin': 458,
 'Hard Target': 459,
 'Heaven & Earth': 460,
 'Hot Shots! Part Deux': 461,
 'Live Nude Girls': 462,
 'The Englishman Who Went Up a Hill But Came Down a Mountain': 463,
 'The House of the Spirits': 464,
 'House Party 3': 465,
 'The Hudsucker Proxy': 466,
 "I'll Do Anything": 467,
 'In the Army Now': 468,
 'In the Line of Fire': 469,
 'In the Name of the Father': 470,
 'The Inkwell': 471,
 "What's Love Got to Do with It": 472,
 'Jimmy Hollywood': 473,
 'Judgment Night': 474,
 'Jurassic Park': 475,
 'Kalifornia': 476,
 'Killing Zoe': 477,
 'King of the Hill': 478,
 'Lassie': 11227,
 'Last Action Hero': 480,
 'Life With Mikey': 481,
 'Lightning Jack': 482,
 'M. Butterfly': 483,
 'Made in America': 484,
 'Malice': 485,
 'The Man without a Face': 486,
 'Manhattan Murder Mystery': 487,
 'Menace II Society': 488,
 'Executive Decision': 489,
 'In the Realm of the Senses': 490,
 'What Happened Was...': 491,
 'Much Ado About Nothing': 492,
 'Mr. Jones': 493,
 'Mr. Wonderful': 494,
 'Mrs. Doubtfire': 495,
 'Naked': 496,
 'The Next Karate Kid': 497,
 'The New Age': 498,
 'No Escape': 499,
 'North': 15555,
 'Orlando': 501,
 'A Perfect World': 502,
 'Philadelphia': 503,
 'The Piano': 504,
 'Poetic Justice': 505,
 'The Program': 506,
 'The Puppet Masters': 507,
 'Radioland Murders': 508,
 'The Ref': 509,
 'The Remains of the Day': 510,
 'Renaissance Man': 511,
 'Rising Sun': 512,
 'The Road to Wellville': 513,
 'RoboCop 3': 514,
 'Robin Hood: Men in Tights': 515,
 'Romeo Is Bleeding': 516,
 'Romper Stomper': 517,
 'Ruby in Paradise': 518,
 'Rudy': 519,
 'The Saint of Fort Washington': 520,
 'Savage Nights': 521,
 "Schindler's List": 522,
 'The Scout': 523,
 'Searching for Bobby Fischer': 524,
 'Second Best': 525,
 'The Secret Garden': 8467,
 'Serial Mom': 527,
 'The Shadow': 528,
 'Shadowlands': 529,
 'Short Cuts': 530,
 'A Simple Twist of Fate': 531,
 'Sirens': 532,
 'Six Degrees of Separation': 533,
 'Sleepless in Seattle': 534,
 'Sliver': 535,
 'Blade Runner': 536,
 'Son in Law': 537,
 'So I Married an Axe Murderer': 538,
 'Striking Distance': 539,
 'Harem': 540,
 'Super Mario Bros.': 541,
 'Surviving the Game': 542,
 'Terminal Velocity': 543,
 'Thirty Two Short Films About Glenn Gould': 544,
 'Threesome': 545,
 'The Nightmare Before Christmas': 546,
 'The Three Musketeers': 18589,
 'Tombstone': 548,
 'Trial by Jury': 549,
 'True Romance': 550,
 'The War Room': 551,
 'The Pagemaster': 552,
 'Paris, France': 553,
 'The Beans of Egypt, Maine': 554,
 'Killer': 18114,
 'Welcome to the Dollhouse': 556,
 'Germinal': 557,
 'Chasers': 558,
 'Cronos': 559,
 'Naked in New York': 560,
 'Kika': 561,
 'Bhaji on the Beach': 562,
 'Little Big League': 563,
 'The Slingshot': 564,
 'Wide Eyed and Legless': 565,
 'Foreign Student': 566,
 'Ciao, Professore!': 567,
 'Spanking the Monkey': 568,
 'The Little Rascals': 569,
 'À la mode': 570,
 'Andre': 571,
 'The Escort': 572,
 'Princess Caraboo': 573,
 'The Celluloid Closet': 574,
 'Café au Lait': 575,
 'Dear Diary': 576,
 "I Don't Want to Talk About It": 577,
 'The Brady Bunch Movie': 578,
 'Home Alone': 579,
 'Ghost': 580,
 'Aladdin': 581,
 'Terminator 2: Judgment Day': 582,
 'Dances with Wolves': 583,
 'Tough and Deadly': 584,
 'Batman': 8603,
 'The Silence of the Lambs': 586,
 'Snow White and the Seven Dwarfs': 587,
 'Beauty and the Beast': 6912,
 'Pinocchio': 17942,
 'Pretty Woman': 590,
 'Window to Paris': 591,
 'The Wild Bunch': 592,
 'Love and a .45': 593,
 "The Wooden Man's Bride": 594,
 'A Great Day in Harlem': 595,
 'Bye Bye Love': 596,
 'One Fine Day': 597,
 'Candyman: Farewell to the Flesh': 598,
 'Century': 599,
 'Fargo': 600,
 'Homeward Bound II: Lost in San Francisco': 601,
 'Heavy Metal': 602,
 'Hellraiser: Bloodline': 603,
 'The Pallbearer': 604,
 'Jane Eyre': 16834,
 'Loaded': 606,
 'Bread and Chocolate': 607,
 'The Aristocats': 608,
 'The Flower of My Secret': 609,
 'Two Much': 610,
 'Ed': 611,
 'Scream of Stone': 612,
 'My Favorite Season': 613,
 'A Modern Affair': 614,
 'Condition Red': 615,
 'Halfaouine: Boy of the Terraces': 616,
 'A Thin Line Between Love and Hate': 617,
 'The Last Supper': 618,
 'Primal Fear': 619,
 'Rude': 620,
 'Carried Away': 621,
 'All Dogs Go to Heaven 2': 622,
 'Land and Freedom': 623,
 'Denise Calls Up': 624,
 'Theodore Rex': 625,
 'A Family Thing': 626,
 'Frisk': 627,
 'Sgt. Bilko': 628,
 'Jack & Sarah': 629,
 'Girl 6': 630,
 'Diabolique': 6964,
 'Little Indian, Big City': 632,
 'Roula': 633,
 'Nelly and Monsieur Arnaud': 636,
 'Courage Under Fire': 637,
 'Mission: Impossible': 638,
 'Cold Fever': 639,
 'Moll Flanders': 640,
 '301, 302': 642,
 'DragonHeart': 643,
 "My Mother's Courage": 645,
 'Eddie': 646,
 'Yankee Zulu': 647,
 "Billy's Holiday": 648,
 'Purple Noon': 649,
 'August': 12792,
 'James and the Giant Peach': 651,
 'Fear': 652,
 'Kids in the Hall: Brain Candy': 653,
 'Faithful': 654,
 'Underground': 655,
 'All Things Fair': 656,
 'Bloodsport II': 657,
 'Pather Panchali': 658,
 'The World of Apu': 659,
 'Mystery Science Theater 3000: The Movie': 660,
 'Tarantella': 661,
 'Space Jam': 662,
 'Barbarella': 663,
 'Hostile Intentions': 664,
 'They Bite': 665,
 'Some Folks Call It a Sling Blade': 666,
 'The Run of the Country': 667,
 'Alphaville': 668,
 'Coup de Torchon': 669,
 'Tigrero: A Film That Was Never Made': 670,
 'The Eye of Vichy': 671,
 'Windows': 672,
 "It's My Party": 673,
 'Country Life': 674,
 'Operation Dumbo Drop': 675,
 'The Promise': 17378,
 'Mrs. Winterbourne': 677,
 'Solo': 678,
 'The Substitute': 12800,
 'True Crime': 2448,
 'Butterfly Kiss': 682,
 'Feeling Minnesota': 683,
 'Delta of Venus': 684,
 'To Cross the Rubicon': 685,
 'Angus': 686,
 'Priest Daens': 687,
 'Faces': 688,
 'Boys': 17679,
 'The Quest': 690,
 'Cosi': 691,
 'Sunset Park': 692,
 'Mulholland Falls': 693,
 'The Truth About Cats & Dogs': 694,
 'Oliver & Company': 695,
 'Celtic Pride': 696,
 'Flipper': 8123,
 'Captives': 698,
 'Of Love and Shadows': 699,
 'Dead Man': 700,
 'The Horseman on the Roof': 701,
 'Switchblade Sisters': 702,
 'Mouth to Mouth': 11064,
 'The Visitors': 704,
 'Multiplicity': 705,
 'The Haunted World of Edward D. Wood, Jr.': 706,
 'Two Friends': 707,
 'The Craft': 708,
 'The Great White Hype': 709,
 'Last Dance': 710,
 'War Stories Our Mother Never Told Us': 711,
 'Cold Comfort Farm': 712,
 'Institute Benjamenta, or This Dream People Call Human Life': 713,
 "Heaven's Prisoners": 714,
 'Original Gangstas': 715,
 'The Rock': 716,
 'Getting Away with Murder': 717,
 'Cemetery Man': 718,
 'Twister': 7430,
 'Barb Wire': 720,
 'Le Garçu': 721,
 'Honeymoon': 19937,
 'Ghost in the Shell': 723,
 'Thinner': 724,
 'Spy Hard': 725,
 'Brothers in Trouble': 726,
 'A Close Shave': 727,
 'Force of Evil': 728,
 'The Stupids': 729,
 'The Arrival': 730,
 'The Man from Down Under': 731,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb': 732,
 'Careful': 733,
 'Vermont Is for Lovers': 734,
 'A Month by the Lake': 735,
 'Gold Diggers: The Secret of Bear Mountain': 736,
 'Kim': 737,
 'Carmen Miranda: Bananas Is My Business': 738,
 'Ashes of Time': 739,
 'The Jar': 740,
 'Maya Lin: A Strong Clear Vision': 741,
 'Stalingrad': 742,
 'The Phantom': 15495,
 'Striptease': 744,
 'The Last of the High Kings': 745,
 'Heavy': 746,
 'Jack': 747,
 'I Shot Andy Warhol': 748,
 'The Grass Harp': 749,
 "Someone Else's America": 750,
 'Life is Rosy': 751,
 'Quartier Mozart': 752,
 'Touki Bouki': 753,
 "God's Gift": 754,
 'Spirits of the Dead': 755,
 'Babyfever': 756,
 "Pharaoh's  Army": 757,
 'Trainspotting': 758,
 'Til There Was You': 759,
 'Independence Day': 760,
 'Stealing Beauty': 761,
 'The Fan': 5518,
 'The Hunchback of Notre Dame': 8303,
 'The Cable Guy': 764,
 'Kingpin': 765,
 'Eraser': 766,
 'The Gate of Heavenly Peace': 767,
 'The Nutty Professor': 2027,
 'I, the Worst of All': 769,
 'An Unforgettable Summer': 770,
 'A Hungarian Fairy Tale': 771,
 'My Life and Times With Antonin Artaud': 772,
 'Midnight Dancers': 773,
 'Somebody to Love': 774,
 'A Very Natural Thing': 775,
 'The Old Lady Who Walked in the Sea': 776,
 'Daylight': 18928,
 'The Frighteners': 778,
 'Lone Star': 779,
 'Harriet the Spy': 780,
 'Phenomenon': 781,
 'Walking and Talking': 782,
 "She's the One": 783,
 'A Time to Kill': 784,
 'American Buffalo': 785,
 'Rendezvous in Paris': 786,
 'Alaska': 787,
 'Fled': 788,
 'Kazaam': 789,
 'Magic Hunter': 790,
 'Larger Than Life': 791,
 'Power 98': 793,
 'Two Deaths': 794,
 'A Very Brady Sequel': 795,
 'Stefano Quantestorie': 796,

In [46]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # 선택한 영화의 타이틀로부터 해당 영화의 인덱스를 받아온다.
    idx = title_to_index[title]

    # 해당 영화와 모든 영화와의 유사도를 가져온다.
    sim_scores = list(enumerate(cosine_sim[idx]))

    # 유사도에 따라 영화들을 정렬한다.
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # 가장 유사한 10개의 영화를 받아온다.
    sim_scores = sim_scores[1:11]

    # 가장 유사한 10개의 영화의 인덱스를 얻는다.
    movie_indices = [idx[0] for idx in sim_scores]

    # 가장 유사한 10개의 영화의 제목을 리턴한다.
    return data['title'].iloc[movie_indices]

In [47]:
get_recommendations('The Dark Knight Rises')

19286                 The One Percent
4132               The Luzhin Defence
9844                  Come and Get It
2817                  The Fire Within
15225                  Father and Son
4607             An American Rhapsody
9894                  Winter Solstice
9033     Leningrad Cowboys Meet Moses
6651                            Cobra
648                   Billy's Holiday
Name: title, dtype: object

In [48]:
get_recommendations('Toy Story')

15348               Toy Story 3
2997                Toy Story 2
10301    The 40 Year Old Virgin
8327                  The Champ
1071      Rebel Without a Cause
11399    For Your Consideration
1932                  Condorman
3057            Man on the Moon
485                      Malice
11606              Factory Girl
Name: title, dtype: object