In [ ]:
import os

base_dir = os.path.abspath(os.getcwd())
print(base_dir)

c:\Users\user\Desktop\TF-IDF_Netflix\src

In [3]:
data_path = os.path.abspath(os.path.join(base_dir, "..", "data", "netflix_titles.csv"))
print(data_path)

c:\Users\user\Desktop\TF-IDF_Netflix\data\netflix_titles.csv

In [23]:
import pandas as pd

df = pd.read_csv(data_path)
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [24]:
df['description'].tail(3)

8804    Looking to survive in a world taken over by zo...
8805    Dragged from civilian life, a former superhero...
8806    A scrappy but poor boy worms his way into a ty...
Name: description, dtype: object

In [28]:
df_recommend = df[['title', 'description']]
df_recommend.tail(3)

           title                                        description
8804  Zombieland  Looking to survive in a world taken over by zo...
8805        Zoom  Dragged from civilian life, a former superhero...
8806      Zubaan  A scrappy but poor boy worms his way into a ty...